body{
    font-family: 'Roboto', sans-serif;
}

/**
 *  Header with navigation
 *
 */
header{
    background: white;
    margin: 0;
    height: 60px;
    border-bottom: solid #5E46A7 2px;
}

.header-container{
    display:block;
    width: 50%;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

#header-logo{
    max-width: 160px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

#navigation{
    display: block;
    float: right;
    padding: 0;
    margin: 12px 20px 12px 0;
    list-style-type: none;
}

#navigation > li{
    display: inline-block;
    position: relative;
}

#navigation > li > a{
    display: block;
    font-size: 14px;
    color: #5E46A7;
    text-decoration: none;
    padding: 10px 10px 8px 10px;
    margin: 0px 10px;
    transition: opacity .3s;
}

#navigation > li > a.active{
    background: #5E46A7;
    color: white;
}

#navigation > li:hover > a{
    opacity: 0.5;
}

#navigation > li > .sub-menu{
    background: white;
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 10px;
    list-style-type: none;
    border: solid #ddd 1px;
    box-shadow: 1px 1px 2px #ddd;
    font-size: 14px;
    color: #999;
    transform: translateY(10px);
    transition: transform .5s;
}

#navigation > li > .sub-menu li a{
    display: block;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #5E46A7;
    transition: background-color .3s, color .3s;
}

#navigation > li > .sub-menu li a:hover{
    background: #5E46A7;
    color: white;
}

#navigation > li > .sub-menu li a i{
    vertical-align: middle;
    width:  30px;
}

#navigation > li > .sub-menu li a span{
    vertical-align: middle;
    line-height: 0.5;
}

#navigation > li > .sub-menu::before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: white;
    position: absolute;
    top: -12px;
    right: 30px;
    transform: rotate(45deg) translateY(50%);
    border: solid #ddd 1px;
    border-bottom: none;
    border-right: none;
}

/* Show sub-menu on hover */
#navigation > li:hover > .sub-menu,
#navigation > li > .sub-menu:hover{
    visibility: visible;
    height: auto;
    min-width: 230px;
    transform: translateY(0);
}


/* Mobile menu */
.mobile{
    display: none;
}
@media only screen and (max-width: 855px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #mobile-menu-button{
        display: block;
        width: 30px;
        height: 30px;
        background: none;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    #mobile-menu-button .m-bar{
        position: relative;
        z-index: 5;
        display: block;
        width: 100%;
        height: 4px;
        background: #5E46A7;
        margin-bottom: 10px;
        transition: opacity .3s, transform .3s;
    }

    #mobile-menu-button .m-bar-2-b{
        display: block;
        background: #ddd;
        margin-top: -14px;
        z-index: 4;
    }

    #mobile-menu-button.open .m-bar-1,
    #mobile-menu-button.open .m-bar-3{
        opacity: 0;
    }

    #mobile-menu-button.open .m-bar-2{
        transform: rotate(-45deg);
    }

    #mobile-menu-button.open .m-bar-2-b{
        transform: rotate(45deg);
    }

    .navigation-container{
        position: fixed;
        z-index: 999;
        left: 100%;
        top: 62px;
        width: 300px;
        height: 100%;
        background: #5E46A7;
        clear: both;
        transition: transform .4s cubic-bezier(.31,-0.28,1,.1);
        opacity: 1;
        padding-right: 100px;
    }

    .navigation-container.open{
        transform: translateX(-300px);
        transition: transform .4s cubic-bezier(.22,1.45,.54,1.2);
    }

    #navigation{
        float: none;
        padding: 10px;
        margin: 0;
    }
    
    #navigation > li{
        display: block;
        width: 100%;
        position: relative;
    }
    
    #navigation > li > a{
        display: block;
        font-size: 18px;
        color: white;
        padding: 10px 10px 8px 10px;
        margin: 0;
        transition: opacity .3s;
    }
    
    #navigation > li:hover > a{
        opacity: 1;
    }
    
    #navigation > li > .sub-menu{
        background: none;
        visibility: visible;
        position: relative;
        z-index: 99;
        padding: 10px;
        border: none;
        box-shadow: none;
        transform: none;
    }
    
    #navigation > li > .sub-menu li a{
        display: block;
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: white;
        transition: background-color .3s, color .3s;
    }
    
    #navigation > li > .sub-menu li a:hover{
        background: #5E46A7;
        color: white;
    }
    
    #navigation > li > .sub-menu li a i{
        visibility: hidden;
    }
    
    #navigation > li > .sub-menu::before{
        content: '';
        display: none;
    }
    
    /* Show sub-menu on hover */
    #navigation > li > .sub-menu{
        top: 0;
        position: relative;
        margin: 0;
        padding: 0;
        visibility: visible;
        height: auto;
        min-width: 230px;
        transform: translateY(0);
    }    
}

/**
 *  Page header
 *
 */
.page-header{
    background: #282046;
    color: white;
    text-align: center;
    padding: 50px 30px 70px 30px;
}

.page-header h1{
    font-size: 50px;
    font-weight: lighter;
}

.page-header p{
    opacity: 0.6;
    font-size: 22px;
    font-weight: lighter;
}

/**
 *  Tables
 *
 */
.table{
    display: block;
    padding: 20px;
}

.table h2{
    color: #444;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}

.table table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: #777;
}
.table table tbody tr td,
.table table thead tr th{
    padding: 15px;
}
.table table thead tr th{
    width: 33.3333%;
}
.table table tbody tr td{
    background: white;
}

.table > table > tbody > tr:nth-last-of-type(even) td{
    background: #f8f8f8;
}